<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © Reach Digital (https://www.reachdigital.io/)
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ho_review>
            <general>
                <enabled>1</enabled>
                <max_considerations>3</max_considerations>
            </general>
        </ho_review>
    </default>
</config>
