<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2016 H&O E-commerce specialisten B.V. (http://www.h-o.nl/)
  ~ See LICENSE.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Review\Block\Adminhtml\Edit\Form" type="Ho\Review\Block\Adminhtml\Edit\Form" />
    <preference for="Ho\Review\Api\RatingConsiderationRepositoryInterface" type="Ho\Review\Model\Rating\ConsiderationRepository" />
    <preference for="Magento\Review\Block\Product\View\ListView" type="Ho\Review\Block\Product\View\ListView" />
    <preference for="Magento\Review\Block\Form" type="Ho\Review\Block\Form" />

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ho_import_considerations" xsi:type="object">Ho\Review\Command\ImportConsiderations</item>
            </argument>
        </arguments>
    </type>
</config>
