<?xml version="1.0"?>
<!--
  ~ Copyright © 2016 H&O E-commerce specialisten B.V. (http://www.h-o.nl/)
  ~ See LICENSE.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="review_load_after">
        <observer name="ho_review_review_load_after" instance="Ho\Review\Observer\ReviewLoadAfter"/>
    </event>

    <event name="review_save_before">
        <observer name="ho_review_review_save_before" instance="Ho\Review\Observer\ReviewSaveBefore"/>
    </event>
</config>
