<?xml version="1.0"?>
<!--
  ~ Copyright © Reach Digital (https://www.reachdigital.io/)
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="review_load_after">
        <observer name="ho_review_review_load_after" instance="Ho\Review\Observer\ReviewLoadAfter"/>
    </event>

    <event name="review_save_after">
        <observer name="ho_review_review_save_after" instance="Ho\Review\Observer\ReviewSaveAfter"/>
    </event>
</config>
