<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2016 H&O E-commerce specialisten B.V. (http://www.h-o.nl/)
  ~ See LICENSE.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ho_review" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Review Settings</label>
            <tab>ho_config</tab>
            <resource>Ho_Review::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" >
                <label>General</label>

                <field id="enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enabled on Frontend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="max_considerations" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Maximal Considerations</label>
                    <comment><![CDATA[Maximum amount for pros and cons.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
